.logo {
	width: 246px;
	height: 73px;
	margin-top: 50px;
	float: left;
}

.logo a{
	width: 246px;
	height: 73px;
	background: url(../img/logo.png) no-repeat 50% 50%;
	display: block;
}





.search {
	width: 270px;
	height: 55px;
	margin-top: 72px;
	float: right;
	position: relative;
}
.search .botton {
	width: 50px;
	height: 50px;
	background: url(../img/button.png) no-repeat 50% 50%;
	border: none;
	position: absolute;
	left: 0;	
}
.search .text {
	width: 265px;
	height: 34px;
	background: url(../img/text.png) no-repeat 50% 50%;
	border: none;
	text-indent: 60px; /* Отступ внутри текстового поля */
	margin-top: 10px;
}



nav ul {
	
}
nav li {
	display: inline-block;
	margin: 10px 0 0 45px;
	position: relative;
}
nav li a {	
	color: #fff;
	font-family: Calibri Bold;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
}
nav li .indicator {
	display: none;
	width: 1px;
	border-color: transparent transparent #fff;    
    border-style: solid;
    border-width: 5px;
	position: absolute;
	left: 40%;	
}
nav li:hover .indicator {
	display: block;	
}


.slider .rounded_buttons_left {
	width: 50px;
	height: 50px;
	background: url(../img/rounded-buttons-left.png);
	position: absolute;
	left: 0;
	top: 190px;
}
.slider .rounded_buttons_right {
	width: 50px;
	height: 50px;
	background: url(../img/rounded-buttons-right.png);
	position: absolute;
	right: 0;
	top: 190px;
}
.slider .feat_nav {
	width: 940px;
	height: 110px;
	background: url(../img/feat-nav.png);
	position: absolute;
	left: 14px;
	bottom: 35px;
}
.feat_nav input {
	width: 166px;
	height: 29px;
	background: url(../img/buttons_nav.png);
	border: none;
	margin: 72px 0 0 45px;
	font-family: Calibri Bold;
	font-size: 16px;
	color: #828282;
}
.feat_nav input:first-child {
	margin: 72px 0 0 62px;
}
.feat_nav input:hover {
	background: url(../img/slideshow.png);
	color: #fff;
}



.slide .feat {
	width: 272px;
	height: 335px;	
	float: left;	
}
.slide .left {
	margin: 40px 0 0 50px;
}
.slide .right {
	margin: 33px 0 0 50px;
}





.tabs {
	content: '';
	display: block;
	clear: both;
}
.tabs .tabs_menu {	
	height: 60px;
	border-bottom: 30px solid #adadad;	
	border-image: url(../img/border-line-top.png) 0 0 30 0 round;/* установка картинки на нижний border*/
}
.tabs .tab_button {
	width: 260px;
	height: 88px;
	background: url(../img/section-back.png) no-repeat 50% 50%;
	border: 1px solid #adadad;
	border-radius: 4px 4px 0 0;
	border-bottom: none;
	float: left;
	margin-right: 18px;
}
.tabs .tab_button:last-child {
	margin-right: none;
}
.tabs .tab_button:first-child {
	margin-left: 72px;
}
.tab_button .icon {
	width:  50px;
	height: 50px;
	float: left;
	margin: 20px;
}
.tab_button .person {
	background: url(../img/person.png) no-repeat 50% 50%;
}
.tab_button .comp_tv {
	background: url(../img/comp-tv.png) no-repeat 50% 50%;
}
.tab_button .tool {
	background: url(../img/tool.png) no-repeat 50% 50%;
}
.tab_button h2 {
	font-family: Calibri Bold;
	font-size: 19px;
	line-height: 24px;
	color: #adadad;
	margin-top: 25px;
}
.tab_button p {
	font-family: Calibri Bold;
	font-size: 12px;
	line-height: 20px;
	color: #b8b8b8;
}
.tabs_menu:after,
.tab_button:after {
	content: '';
	display: block;
	clear: both;
}



.tab .left_section {
	width: 360px;
	height: 270px;
	margin: 10px 0 0 72px;	
	float: left;
}
.left_section .section {
	width: 100%;
	height: 50px;
	border: 1px solid #cfcece;
	border-radius: 4px;
	margin-top: 20px;
}
.section .ico {
	width: 20px;
	height: 20px;
	float: left;
	margin: 15px; 
}
.section .ok {
	background: url(../img/ico-OK.png) no-repeat 50% 50%;
}
.section .text2 {
	margin-top: 5px;
	float: left;
}
.section .text2 p {
	font-family: Calibri Bold;
	font-size: 14px;
	line-height: 18px;
	color: #9f9999;
}
.section .read_more {
	width: 101px;
	height: 29px;
	margin: 10px 0 0 40px;
	border: 1px solid #cfcece;
	background: url(../img/read-more-button.png) no-repeat 50% 50%;
}
.section:after,
.tab:after {
	content: '';
	display: block;
	clear: both;
}



.tab .right_section {
	width: 359px;
	height: 270px;
	margin: 30px 0 0 102px;	
	border: 1px solid #cfcece;
	border-radius: 4px;
	float: left;
}
.right_section .titel_images {
	width: 307px;
	height: 44px;
	border: 1px solid #cfcece;
	font-family: Calibri Bold;
	font-size: 24px;
	line-height: 43px;
	color: #9f9999;
	border-radius: 4px;
	padding-left: 15px;
	margin: 10px 0 0 15px;
}
.right_section .row1,
.right_section .row2 {
	margin: 20px 0 0 24px;
}
.right_section input {
	width: 80px;
	height: 80px;
	margin-right: 30px;	
	border: 1px solid #cfcece;
	border-radius: 4px;
}
.right_section input:last-child {
	margin-right: 0px;
}
.right_section .images1 {
	background: url(../img/imges1.png) no-repeat 50% 50%;
}
.right_section .images2 {
	background: url(../img/imges2.png) no-repeat 50% 50%;
}
.right_section .images3 {
	background: url(../img/imges3.png) no-repeat 50% 50%;
}
.right_section .images4 {
	background: url(../img/imges4.png) no-repeat 50% 50%;
}
.right_section .images5 {
	background: url(../img/imges5.png) no-repeat 50% 50%;
}
.right_section .images6 {
	background: url(../img/imges6.png) no-repeat 50% 50%;
}



.comment .person {
	width: 820px;
	height: 130px;
	background: url(../img/peson-comment.png) no-repeat 50% 50%;
}
.comment .person b {
	color: #b9b8b8;
	font-family: Calibri Bold;
	font-size: 14px;
	line-height: 18px;
	margin-left: 470px
}
.comment .person p {
	color: #cfcfcf;
	font-family: Calibri Bold;
	font-size: 13px;
	line-height: 14px;	
}
.text_comment {
	padding: 30px 40px 0 155px
}




section .titel_foot {
	padding: 23px 0 5px 7px;
	margin-top: 27px;
	background: url(../img/line_foot.png) no-repeat 50% 100%; 
}
.titel_foot .title_icon {
	width: 34px;
	height: 34px;
	margin: 0 15px 0 110px;
	background: url(../img/book.png) no-repeat 50% 50%;	
	float: left;
}
.titel_foot h2 {
	color: #c4c3c3;
	font-family: Calibri Bold;
	font-size: 22px;
	line-height: 32px;
	text-shadow: 1px 1px 1px #fff;
}
section .block {
	width: 340px;
	height: 120px;
	padding: 10px 0 0 20px;
	margin-top: 20px;
	border: 1px solid #c4c4c4;
	background: url(../img/back_block.png) no-repeat 50% 50%;
	float: left;
}
section .left {
	margin: 20px 100px 0 71px;
}
section .block h3 {	
	color: #7baccd;
	font-family: Calibri;
	font-size: 18px;
	line-height: 24px;
}
section .block p {
	color: #c1c1c1;
	font-family: Calibri Bold;
	font-size: 12px;
	line-height: 18px;
}
section .block .comment_look {
	margin-top: 20px;
	float: left;
}
.comment_look .com_ico {
	width: 20px;
	height: 20px;
	background: url(../img/com_ico.png) no-repeat 50% 50%;
	margin-right: 10px;
	float: left;
}
.comment_look a {
	text-decoration: none;
	color: #939292;
	font-family: Calibri Bold;
	font-size: 12px;
	line-height: 18px;
}
section .block .read_more{
	width: 101px;
	height: 29px;
	margin: 7px 0 0 133px;
	border: 1px solid #cfcece;
	background: url(../img/read-more-button.png) no-repeat 50% 50%;	
}


.bottom {
	margin: 53px 0 0 170px;
	color: #8f8f92;
	text-shadow: 1px 1px 1px #e9e8e8;
}
.bottom a {
	text-decoration: none;
	color: #737375;
	font-family: Calibri Bold;
	font-size: 14px;
	line-height: 24px;
	text-shadow: 1px 1px 1px #e9e8e8;/* тень для текста*/
	margin: 0 6px 0 6px;
}
.foot_menubar {
	margin-right: 180px;
	float: left;
}



.titel_foot:after,
section .block:after,
.comment_look:after,
section:after {
	content: '';
	display: block;
	clear: both;
}