 @font-face {
    font-family: Lato-Regular;
    src: url(../font/Lato-Regular.ttf);
   }
@font-face {
    font-family: Lora-Regular;
    src: url(../font/Lora-Regular.ttf);
   }
* {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}

footer .wrapper:after,
article .group_clients .box:after,
article .group_clients .wrepper:after,
article .group_clients:after,
header .wrapper:after,
header .contener:after,
header .contener .bar_menu:after,
header .contener .menu_nav:after,
header .contener .menu_option:after,
header .contener .index_menu:after {
    display: block;
    content: "";
    clear: both;
}




li {
    list-style: none;
}
article h2 {
    font-family: Lora-Regular;
    padding-top: 60px;
    text-align: center;   
    font-size: 36px;
    color: #4eb866;
}
header {
    margin: 0 auto; 
    font-family: Lato-Regular;
}
article {
    margin: 0 auto;
    font-family: Lato-Regular;    
}


header .wrapper {
    max-width: 1140px;  
    height: 100px;
    margin: 0 auto;
    position: relative;   
}
header .contener { 
    text-align: center;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
}
header .bar_menu {
    display: inline-block;    
    height: 145px;
    margin: 0 auto; 
    text-align: center;    
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    color: #919191;
}
header .bar_menu a {
    color: #919191;
}
header .menu_nav {  
    float: left;
}
header .index_menu {
    width: auto;
    height: 55px; 
    margin-left: 25px;
    float: left;
}
header .index_menu span {
    display: block;
    margin-top: 20px;
    padding: 0 5px;
}

header .index_menu:hover {
    border-bottom: 7px solid #4eb866;    
    color: #000;
}
header .menu_option .index_menu:last-child:hover {
    border-bottom: none;       
}
header .logo {
    width: 105px;
    height: 105px;
    background: #fff url(../img/logo.png) no-repeat 50% 50%;
    margin-left: 30px;    
    float: left;
}
header .menu_option { 
    float: left;
}
header .lanvige span {
    float: left;
}
header .menu_option span:hover {
    color: #4eb866;
}
header .menu_option .ico {
    width: 20px;
    height: 20px;
    margin:25px 10px 0 0;
    float: left;
}
header .menu_option .facebook {
    background: url(../img/facebook.png) no-repeat 50% 50%;
}
header .menu_option .googl {
     background: url(../img/googl.png) no-repeat 50% 50%;
}
header .menu_option .vk {
     background: url(../img/vk.png) no-repeat 50% 50%;
}


article {
    padding-bottom: 70px;
}
article p {
    text-align: center;    
    font-size: 18px;
    line-height: 24px;    
    padding-top: 35px;
    color: #777576;
}
article .group_clients {
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 50px;    
    box-shadow: 13px 0px 79px rgba(161,164,170,0.18),
        -13px 0px 79px rgba(161,164,170,0.18),
        0px 13px 79px rgba(161,164,170,0.18),
        0px 0px 0px rgba(255,255,255,0);   
}
article .group_clients .aside {
    max-width: 255px;
    padding: 30px;
    text-align: right;    
    color: #777576;
    font-size: 18px;
    line-height: 42px;
    float: left;
}
article .group_clients .wrepper {
    max-width: 810px;
    border-left: 1px solid #f5f5f5;    
    float: left;
}
article .group_clients .aside li {
    cursor: pointer;
    color: #b2b2b2;
}
article .group_clients .aside li:hover {
    color: #4eb866;
}



article .group_clients input {
    width: 90%;
    height: 35px;
    margin: 30px 0 15px 30px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
}


article .group_clients .box {
    max-width: 776px;   
    padding: 0 0 50px 30px;    
    float: left;
}
article .group_clients .boxes {
    width: 190px;
    height: 130px;
    border: 1px solid #ebebeb;    
    float: left;
}
article .group_clients .box_hover {
    display: none; 
    margin: -20px;
    padding: 20px;
    background: #fff;
    width: 190px;
    height: 130px;
    box-shadow: 13px 0px 79px rgba(161,164,170,0.18),
        -13px 0px 79px rgba(161,164,170,0.18),
        0px 13px 79px rgba(161,164,170,0.18),
        0px 0px 0px rgba(255,255,255,0);     
}
article .group_clients .boxes:hover .box_hover {
    display: block;    
}
article .group_clients .box .container {
    position: relative;
}
 .big {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}
article .group_clients .box .icon {
    width: 200px;
    height: 200px;    
    margin: 20px 0 0 20px;
    float: left;
}
article .group_clients .box .text_click {
    margin: 20px 10px 0 10px;    
}
article .group_clients .box .text_click h3 {
    color: #4eb866;
}
article .group_clients .box .big_click {
    display: none;
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    background: rgba(255,255,255,1);
    z-index: 101;
    position: fixed;
}
.click {
    width: 24px;
    height: 24px;
    background: url(../img/off.png) no-repeat 50% 50%;
    margin: 20px 20px 0 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

article .group_clients .box .pic1 {
    background: url(../img/logotip/pic1.png) no-repeat 50% 50%;
}
article .group_clients .box .pic2 {
    background: url(../img/logotip/pic2.png) no-repeat 50% 50%;
}
article .group_clients .box .pic3 {
    background: url(../img/logotip/pic3.png) no-repeat 50% 50%;
}
article .group_clients .box .pic4 {
    background: url(../img/logotip/pic4.png) no-repeat 50% 50%;
}
article .group_clients .box .pic5 {
    background: url(../img/logotip/pic5.png) no-repeat 50% 50%;
}
article .group_clients .box .pic6 {
    background: url(../img/file6.png) no-repeat 50% 50%;
}
article .group_clients .box .pic7 {
    background: url(../img/logotip/pic7.png) no-repeat 50% 50%;
}
article .group_clients .box .pic8 {
    background: url(../img/logotip/pic8.png) no-repeat 50% 50%;
}
article .group_clients .box .pic9 {
    background: url(../img/logotip/pic9.png) no-repeat 50% 50%;
}
article .group_clients .box .pic10 {
    background: url(../img/logotip/pic10.png) no-repeat 50% 50%;
}
article .group_clients .box .pic11 {
    background: url(../img/logotip/pic11.png) no-repeat 50% 50%;
}
article .group_clients .box .pic12 {
    background: url(../img/logotip/pic12.png) no-repeat 50% 50%;
}
article .group_clients .box .pic13 {
    background: url(../img/logotip/pic13.png) no-repeat 50% 50%;
}
article .group_clients .box .pic14 {
    background: url(../img/logotip/pic14.png) no-repeat 50% 50%;
}
article .group_clients .box .pic15 {
    background: url(../img/logotip/pic15.png) no-repeat 50% 50%;
}
article .group_clients .box .pic16 {
    background: url(../img/logotip/pic16.png) no-repeat 50% 50%;
}
article .group_clients .box .pic17 {
    background: url(../img/logotip/pic17.png) no-repeat 50% 50%;
}
article .group_clients .box .pic18 {
    background: url(../img/logotip/pic18.png) no-repeat 50% 50%;
}
article .group_clients .box .pic19 {
    background: url(../img/logotip/pic19.png) no-repeat 50% 50%;
}
article .group_clients .box .pic20 {
    background: url(../img/logotip/pic20.png) no-repeat 50% 50%;
}
article .group_clients .box .pic21 {
    background: url(../img/logotip/pic21.png) no-repeat 50% 50%;
}
article .group_clients .box .pic22 {
    background: url(../img/logotip/pic22.png) no-repeat 50% 50%;
}
article .group_clients .box .pic23 {
    background: url(../img/logotip/pic23.png) no-repeat 50% 50%;
}
article .group_clients .box .pic24 {
    background: url(../img/logotip/pic24.png) no-repeat 50% 50%;
}
article .group_clients .box .pic25 {
    background: url(../img/logotip/pic25.png) no-repeat 50% 50%;
}
article .group_clients .box .pic26 {
    background: url(../img/logotip/pic26.png) no-repeat 50% 50%;
}
article .group_clients .box .pic27 {
    background: url(../img/logotip/pic27.png) no-repeat 50% 50%;
}
article .group_clients .box .pic28 {
    background: url(../img/logotip/pic28.png) no-repeat 50% 50%;
}
article .group_clients .box .pic29 {
    background: url(../img/logotip/pic29.png) no-repeat 50% 50%;
}
article .group_clients .box .pic30 {
    background: url(../img/logotip/pic30.png) no-repeat 50% 50%;
}
article .group_clients .box .pic31 {
    background: url(../img/logotip/pic31.png) no-repeat 50% 50%;
}
article .group_clients .box .pic32{
    background: url(../img/logotip/pic32.png) no-repeat 50% 50%;
}
article .group_clients .box .pic33 {
    background: url(../img/logotip/pic33.png) no-repeat 50% 50%;
}
article .group_clients .box .pic34 {
    background: url(../img/logotip/pic34.png) no-repeat 50% 50%;
}
article .group_clients .box .pic35 {
    background: url(../img/logotip/pic35.png) no-repeat 50% 50%;
}
article .group_clients .box .pic36 {
    background: url(../img/logotip/pic36.png) no-repeat 50% 50%;
}
article .group_clients .box .pic37{
    background: url(../img/logotip/pic37.png) no-repeat 50% 50%;
}
article .group_clients .box .pic38 {
    background: url(../img/logotip/pic38.png) no-repeat 50% 50%;
}



article .group_clients .ico1 {
    background: url(../img/logotip/ico1.png) no-repeat 50% 50%;   
}
article .group_clients .ico2 {
    background: url(../img/logotip/ico2.png) no-repeat 50% 50%;   
}
article .group_clients .ico3 {
    background: url(../img/logotip/ico3.png) no-repeat 50% 50%;   
}
article .group_clients .ico4 {
    background: url(../img/logotip/ico4.png) no-repeat 50% 50%;   
}
article .group_clients .ico5 {
    background: url(../img/logotip/ico5.png) no-repeat 50% 50%;   
}
article .group_clients .ico6 {
    background: url(../img/obolon-logo.png) no-repeat 50% 50%;   
}
article .group_clients .ico7 {
    background: url(../img/logotip/ico7.png) no-repeat 50% 50%;   
}
article .group_clients .ico8 {
    background: url(../img/logotip/ico8.png) no-repeat 50% 50%;   
}
article .group_clients .ico9 {
    background: url(../img/logotip/ico9.png) no-repeat 50% 50%;   
}
article .group_clients .ico10 {
    background: url(../img/logotip/ico10.png) no-repeat 50% 50%;   
}
article .group_clients .ico11 {
    background: url(../img/logotip/ico11.png) no-repeat 50% 50%;   
}
article .group_clients .ico12 {
    background: url(../img/logotip/ico12.png) no-repeat 50% 50%;   
}
article .group_clients .ico13 {
    background: url(../img/logotip/ico13.png) no-repeat 50% 50%;   
}
article .group_clients .ico14 {
    background: url(../img/logotip/ico14.png) no-repeat 50% 50%;   
}
article .group_clients .ico15 {
    background: url(../img/logotip/ico15.png) no-repeat 50% 50%;   
}
article .group_clients .ico16 {
    background: url(../img/logotip/ico16.png) no-repeat 50% 50%;   
}
article .group_clients .ico17 {
    background: url(../img/logotip/ico17.png) no-repeat 50% 50%;   
}
article .group_clients .ico18 {
    background: url(../img/logotip/ico18.png) no-repeat 50% 50%;   
}
article .group_clients .ico19 {
    background: url(../img/logotip/ico19.png) no-repeat 50% 50%;   
}
article .group_clients .ico20 {
    background: url(../img/logotip/ico20.png) no-repeat 50% 50%;   
}
article .group_clients .ico21 {
    background: url(../img/logotip/ico21.png) no-repeat 50% 50%;   
}
article .group_clients .ico22 {
    background: url(../img/logotip/ico22.png) no-repeat 50% 50%;   
}
article .group_clients .ico23 {
    background: url(../img/logotip/ico23.png) no-repeat 50% 50%;   
}
article .group_clients .ico24 {
    background: url(../img/logotip/ico24.png) no-repeat 50% 50%;   
}
article .group_clients .ico25 {
    background: url(../img/logotip/ico25.png) no-repeat 50% 50%;   
}
article .group_clients .ico26 {
    background: url(../img/logotip/ico26.png) no-repeat 50% 50%;   
}
article .group_clients .ico27 {
    background: url(../img/logotip/ico27.png) no-repeat 50% 50%;   
}
article .group_clients .ico28 {
    background: url(../img/logotip/ico28.png) no-repeat 50% 50%;   
}
article .group_clients .ico29 {
    background: url(../img/logotip/ico29.png) no-repeat 50% 50%;   
}
article .group_clients .ico30 {
    background: url(../img/logotip/ico30.png) no-repeat 50% 50%;   
}
article .group_clients .ico31 {
    background: url(../img/logotip/ico31.png) no-repeat 50% 50%;   
}
article .group_clients .ico32 {
    background: url(../img/logotip/ico32.png) no-repeat 50% 50%;   
}
article .group_clients .ico33 {
    background: url(../img/logotip/ico33.png) no-repeat 50% 50%;   
}
article .group_clients .ico34 {
    background: url(../img/logotip/ico34.png) no-repeat 50% 50%;   
}
article .group_clients .ico35 {
    background: url(../img/logotip/ico35.png) no-repeat 50% 50%;   
}
article .group_clients .ico36 {
    background: url(../img/logotip/ico36.png) no-repeat 50% 50%;   
}
article .group_clients .ico37 {
    background: url(../img/logotip/ico37.png) no-repeat 50% 50%;   
}
article .group_clients .ico38 {
    background: url(../img/logotip/ico38.png) no-repeat 50% 50%;   
}






footer {    
    width: 100%; 
    margin: 0 auto;
    background: #363636;
    color: #fff;
}
footer .wrapper {
    max-width: 1170px;    
    margin: 0 auto;
    position: relative;
}
footer .wrapper .item {
    width: 280px;
    height: 270px;
    margin: 45px 0 0 20px;
    float: left;
}
footer .wrapper .logo {
    width: 80px;
    height: 80px;
    background: url(../img/logo_copy.png) no-repeat 50% 50%;
    margin-right: 20px;
    float: left;
}
footer .wrapper .contact {
    margin: 45px 0 0 10px;
}
footer .wrapper .contact p:first-child {
    margin-bottom: 25px;
}
footer .wrapper .contact p,
footer .wrapper a {
    color: #9f9f9f;
}
footer .wrapper .box {
    width: 100px;
    line-height: 27px;
    margin: 0 90px;
    float: left;
}
footer .wrapper .row p {
    margin:0 20px 40px 0;
    float: left;
}
footer .wrapper .row .ico {  
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
}
footer .wrapper .row .facebook {
    background: url(../img/facebook.png) no-repeat 50% 50%;
} 
footer .wrapper .row .googl {
    background: url(../img/googl.png) no-repeat 50% 50%;
} 
footer .wrapper .row .vk {
    background: url(../img/vk.png) no-repeat 50% 50%;
} 
footer .wrapper .button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6b6b6b;
    position: absolute;
    top: 50px;
    right: 80px;
}
footer .wrapper .icon {
    background-image: url(../img/but_up.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

