 @font-face {
    font-family: Lato-Regular;
    src: url(../font/Lato-Regular.ttf);
   }
@font-face {
    font-family: Lora-Regular;
    src: url(../font/Lora-Regular.ttf);
   }
* {
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}





footer .wrapper:after,
article .group_news .wrapper .content:after,
article .group_news .wrapper:after,
header .wrapper:after,
header .contener:after,
header .contener .bar_menu:after,
header .contener .menu_nav:after,
header .contener .menu_option:after,
header .contener .index_menu:after {
    display: block;
    content: "";
    clear: both;
}



article h2 {
    font-family: Lora-Regular;
    padding-top: 60px;
    text-align: center;   
    font-size: 36px;
    color: #4eb866;
}
header {
    margin: 0 auto; 
    font-family: Lato-Regular;
}
article {
    margin: 0 auto;
    font-family: Lato-Regular;    
}
header .wrapper {
    max-width: 1140px;  
    height: 100px;
    margin: 0 auto;
    position: relative;   
}
header .contener { 
    text-align: center;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
}
header .bar_menu {
    display: inline-block;    
    height: 145px;
    margin: 0 auto; 
    text-align: center;    
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    color: #919191;
}
header .bar_menu a {
    color: #919191;
}
header .menu_nav {  
    float: left;
}
header .index_menu {
    width: auto;
    height: 55px; 
    margin-left: 25px;
    float: left;
}
header .index_menu span {
    display: block;
    margin-top: 20px;
    padding: 0 5px;
}

header .index_menu:hover {
    border-bottom: 7px solid #4eb866;    
    color: #000;
}
header .menu_option .index_menu:last-child:hover {
    border-bottom: none;       
}
header .logo {
    width: 105px;
    height: 105px;
    background: #fff url(../img/logo.png) no-repeat 50% 50%;
    margin-left: 30px;    
    float: left;
}
header .menu_option { 
    float: left;
}
header .lanvige span {
    float: left;
}
header .menu_option span:hover {
    color: #4eb866;
}
header .menu_option .ico {
    width: 20px;
    height: 20px;
    margin:25px 10px 0 0;
    float: left;
}
header .menu_option .facebook {
    background: url(../img/facebook.png) no-repeat 50% 50%;
}
header .menu_option .googl {
     background: url(../img/googl.png) no-repeat 50% 50%;
}
header .menu_option .vk {
     background: url(../img/vk.png) no-repeat 50% 50%;
}









article .group_news {
    margin: 0 auto;      
    padding-bottom: 50px;
}
article .group_news h2 {
    color: #4eb866;  
    margin-bottom: 50px;
}
article .group_news .wrapper {
    max-width: 1110px;
    margin: 0 auto;    
}
article .group_news .content {
    border-bottom: 1px solid #e8eaeb;
    margin-bottom: 40px;
}
article .group_news .item {
    max-width: 670px;    
    margin: 0 0 20px 60px;    
    box-shadow: 0px 1px 0px rgba(255,255,255,1);
   padding-top: 10px;
    float: left;
}
article .group_news .item .ico {
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
    background: url(../img/data.png) no-repeat 50% 0%;
}
article .group_news .item .ico .data {
    margin-left: 25px;    
    font-size: 14px;
    line-height: 24px;
    color: #cccccc;
}
article .group_news .item h4 a {
    color: #4eb866;    
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
}
article .group_news .item p {
    color: #666666;    
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}
article .group_news .item a {
    color: #4eb866;
    font-family: Lato-Regular;
    font-size: 14px;
    line-height: 24px;
    margin: 0 5px 15px 0;    
}
article .group_news .imges {
    width: 280px;
    height: 180px;
    margin-bottom: 40px;
    box-shadow: 13px 0px 79px rgba(161,164,170,0.18),
        -13px 0px 79px rgba(161,164,170,0.18),
        0px 13px 79px rgba(161,164,170,0.18),
        0px 0px 0px rgba(255,255,255,0);   
    float: left;
}












footer {    
    width: 100%; 
    margin: 0 auto;
    background: #363636;
    color: #fff;
}
footer .wrapper {
    max-width: 1170px;    
    margin: 0 auto;
    position: relative;
}
footer .wrapper .item {
    width: 280px;
    height: 270px;
    margin: 45px 0 0 20px;
    float: left;
}
footer .wrapper .logo {
    width: 80px;
    height: 80px;
    background: url(../img/logo_copy.png) no-repeat 50% 50%;
    margin-right: 20px;
    float: left;
}
footer .wrapper .contact {
    margin: 45px 0 0 10px;
}
footer .wrapper .contact p:first-child {
    margin-bottom: 25px;
}
footer .wrapper .contact p,
footer .wrapper a {
    color: #9f9f9f;
}
footer .wrapper .box {
    width: 100px;
    line-height: 27px;
    margin: 0 90px;
    float: left;
}
footer .wrapper .row p {
    margin:0 20px 40px 0;
    float: left;
}
footer .wrapper .row .ico {  
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
}
footer .wrapper .row .facebook {
    background: url(../img/facebook.png) no-repeat 50% 50%;
} 
footer .wrapper .row .googl {
    background: url(../img/googl.png) no-repeat 50% 50%;
} 
footer .wrapper .row .vk {
    background: url(../img/vk.png) no-repeat 50% 50%;
} 
footer .wrapper .button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6b6b6b;
    position: absolute;
    top: 50px;
    right: 80px;
}
footer .wrapper .icon {
    background-image: url(../img/but_up.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

