
@keyframes anim{
	0%{
		background: #ff0000;
			}
	25%{
		background: #f0f000;
	}
	50%{
		background: #00ff00;
	}
	100%{
		background: #0000ff;
	}
}

	
.bl{
	width: 100px;
	height: 100px;
	background: #ccc;
	transition: 1s 0s height linear;
}
.bl:hover{
	width: 100%;
	height: 500px;
	background: #ff0000 ;
	animation:anim 1s 1 linear;


	
}
