
.punkt {
	position: relative;
	width: 100px;
	height: 20px;
	display: block;
	float: left; 
	padding: 5px;
	transition: 0.2s all;
	
}

.pod {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	left: 0;
	top: 31px;
	position: absolute;
	width: 100px;
	opacity: 0;
	transition: 1s opacity;
}

.punkt, .pod {
	background: #3d3d3d;
	text-align: center;
}

.punkt:hover {
	padding: 8px 5px 2px 5px;
	background: #ccc;
}

.punkt:hover .pod {
	display: block;
	opacity: 1;
}

.punkt a {
	text-decoration: none;
	color: #eee;
}

li {
	border: 1px solid #ccc;
}

.punkt::after {
	content: " ";
	border: 5px solid;
	border-color: #eee transparent transparent transparent;
	position: absolute;
	top: 1em;
	right: 0.6em;
	transition: 0.3s all; 
}

.punkt:hover::after {
		transform: scaleY(-1);

}

.menu li.punkt:first-child {
	border-radius: 15px 0 0 15px;
}

.menu li.punkt:last-child {
	border-radius: 0 15px 15px 0;
}